.cnInstagramGrid {
  @include clearfix;
}

.instagramImg {
  position: relative;
  display: block;
  width: 20%;
  float: left;
  margin: 0;
  @include transition(all .3s ease-in-out);
  @include filter(grayscale(100%));
  @include media($medium) { width: 33.33333333%; }
  @include media($small) { width: 50%; }
  img { width: 100%; }

  .instagramIconHover {
    @include transition(all .3s ease-in-out);
    position: absolute;
    right: rem(8);
    bottom: rem(8);
    font-size: rem(52);
    color: white;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
    @include filter(grayscale(0%));

    .instagramIconHover { opacity: 1; }
  }
}

.instagramImg.imgNum0,
.instagramImg.imgNum5 {
  width: 40%;
  @include media($medium) { width: 66.6666666666%; }
  @include media($small) { width: 100%; }
}

.instagramImg.imgNum5 {
  float: right;
  @include media($medium) { width: 33.3333333333%; }
  @include media($small) { width: 50%; }
}
